{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<h1 id="blogtitle" class="font-weight-bold text-center">Blog</h1>



{% for blog in blogs %}
<div class="row justify-content-center my-3">
  <div class="col-md-10">
    <a href="{% url 'blog:detail' blog.id %}">
      <h2>{{ blog.title }}</h2>
    </a>
    <h5 class="text-muted">{{ blog.date|date:'M d Y'|upper }}</h5>
    <h4>{{ blog.description|striptags|truncatechars:100 }}</h4>
  </div>
</div>
{% endfor %}

<div class="row justify-content-center my-3">
<nav aria-label="...">
  <ul class="pagination">
    {% if blogs.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ blogs.previous_page_number }}">Previous</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
    </li>
    {% endif %}

    {% for p in blogs.paginator.page_range %}
      {% if blogs.number == p %}
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="#">{{ p }}</a></li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
      {% endif %}
    {% endfor %}

    {% if blogs.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ blogs.next_page_number }}">Next</a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
    </li>
    {% endif %}
  </ul>
</nav>
</div>
{% endblock %}

